.tag1{
style="background-color: rgb(251, 252, 255); 
padding-bottom: 70.7447%;"><img alt="This may contain: the word graffiti is painted in blue and purple" class="hCL kVc L4E MIw" fetchpriority="auto" loading="auto" src="https://i.pinimg.com/236x/3c/4c/40/3c4c40197d8446b8f15dee0cc48aa22d.jpg"><div class="MIw QLY Rym ojN p6V sLG zI7 iyn Hsu"><div class="XiG zI7 iyn Hsu" style="background-color: transparent; padding-bottom: 70.7447%;"><img alt="" class="hCL kVc L4E MIw" fetchpriority="auto" loading="auto" src="https://i.pinimg.com/564x/3c/4c/40/3c4c40197d8446b8f15dee0cc48aa22d.jpg"
}
#wall .tag-1 {
    display: none;
  }